<h2>Panel Registration</h2>

<div>
    <label>Owner Name</label><input placeholder="name"/><br>
    <label>Owner Address</label><input placeholder="0x"/><br>
    <label>Panel registration No.</label><input placeholder="1243234234"/><br>
    <label>Manufacturer</label><input placeholder="SolarworkAG"/><br>
    <label>Manufacturer Address</label><input placeholder="0x"/><br>
    <label>Panel Expected Life</label><input placeholder="25 years"/><br>
</div>

<h2>Panel Recycling Registration</h2>

<div>
    <label>Owner Name</label><input placeholder="name"/><br>
    <label>Owner Address</label><input placeholder="0x"/><br>
    <label>Panel registration No.</label><input placeholder="1243234234"/><br>
    <label>Recycler</label><input placeholder="SolarworkAG"/><br>
    <label>Recycler Address</label><input placeholder="0x"/><br>
    <label>Panel Lifetime</label><input placeholder="25 years"/><br>
</div>