<h2>Panel Registration</h2>
    <div class="form-group">
        <label>Panel Registration Number</label>
        <input class="form-control" placeholder="10101" [(ngModel)]="panel.rnumber"/>
    </div>
    <br>
    <div class="form-group">
        <label>Manufacturer</label>
        <input class="form-control" placeholder="SolarworkAG" [(ngModel)]="panel.manufct"/>
    </div>
    <br>
    <div class="form-group">
        <label>Manufacturer Address</label>
        <input class="form-control" placeholder="0x" [(ngModel)]="panel.manufctAddr"/>
    </div>
    <br>
    <div class="form-group">
        <label>Owner Address</label>
        <input class="form-control" placeholder="0x" [(ngModel)]="panel.ownerAddr"/>
    </div>
    <br>
    <div class="form-group">
        <button class="btn btn-info btn-block" (click)="onRegisterPanel()">Register Panel</button>
    </div>
    <div *ngIf="panelregistered">
        Your Panel is successful registered.
        Your Panel ID is {{panelid}}.
    </div>



    <!-- rnumber,manufct,manufctAddr,ownerAddr -->
    <!-- <label>Owner Address</label><input placeholder="0x"/><br>
    <label>Panel registration No.</label><input placeholder="1243234234"/><br>
    <label>Manufacturer</label><input placeholder="SolarworkAG"/><br>
    <label>Manufacturer Address</label><input placeholder="0x"/><br>
    <label>Panel Expected Life</label><input placeholder="25 years"/><br> -->


<!-- <h2>Panel Recycling Registration</h2>

<div>
    <label>Owner Name</label><input placeholder="name"/><br>
    <label>Owner Address</label><input placeholder="0x"/><br>
    <label>Panel registration No.</label><input placeholder="1243234234"/><br>
    <label>Recycler</label><input placeholder="SolarworkAG"/><br>
    <label>Recycler Address</label><input placeholder="0x"/><br>
    <label>Panel Lifetime</label><input placeholder="25 years"/><br>
</div> -->